@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&f[]=montserrat@500,700,200,400,100,300,600&f[]=general-sans@200,600,400,700&f[]=clash-display@200,700,500,600&display=swap");
:root {
  --primaryColor: "#3f2d1e";
  --dark: "#936947";
  --darkBg: #3f2d1e;
  --font-nunito: "Nunito", sans-serif;
  --bg-green: #137087;
  --font-clasha: "Clash Display", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
}

@font-face {
  font-family: gamer;
  src: url(/src/assets/fonts/Gamer.ttf);
}

body {
  background: #040312 !important;
  font-family: var(--font-nunito);
}

.title_element {
  font-family: var(--font-clasha);
}

.custom-button {
  background: #e0a800;
  background: linear-gradient(180deg, #e6e6e6 0%, var(--bg-green) 100%);
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.custom-button:hover {
  transform: scale(1.05);
}

.stroke_element {
  -webkit-text-stroke: 3px var(--darkBg);
  text-stroke: 1px rgb(255, 255, 255);
}

.shadow-effect {
  color: #ffc107;

  font-weight: bold;
  text-shadow: 2px 2px 0 #d47500;
}

.default-box {
  box-shadow: 2px 2px 0 #ffffff;
}

.default-text {
  /* Define the text color gradient */
  background: linear-gradient(180deg, #eee5ca 0%, var(--bg-green) 100%);

  /* Clip the background to the text */
  -webkit-background-clip: text;
  background-clip: text;

  /* Make the text transparent to show the background */
  color: transparent;

  /* Other styles */
  /* box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08); */
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  /* Necessary to make the gradient work */
  display: inline-block; /* or 'block', depending on your layout */
}

.hero-text {
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  display: inline-block;
}

.custom-button:hover {
  transform: scale(1.05);
}
